version: "3"
services:
  db-payments:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: creative-hub-payments
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  microservice-payments:
    build: .
    image: ghcr.io/creative-hub-taass/microservice-payments:latest
    ports:
      - "8080:8080"
    environment:
      - API_GATEWAY_URL=http://localhost:8080
      - CLIENT_URL=http://localhost:4200
      - DB_HOST=db-payments
      - DB_NAME=creative-hub-payments
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - PAYPAL_MODE=sandbox
      - PAYPAL_CLIENT_ID=AXkN3VDHKf7c9D31SQJDmVVJU1hxVpjvJrLKxE4ujQaxKN--0uFOBSC85Z3oVRI5NWYh6_ieCmjmmhha
      - PAYPAL_CLIENT_SECRET=EGpQHo8r34COZrW3YD3BR4uiqk7hbY1qKFJ3HYErSGT_VzgMw2uU_Uooi-rU19002rHibTsT0jO5E7XP
    depends_on:
      - db-payments
