version: "3"
services:
  db-payments:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: creative-hub-payments
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  microservice-payments:
    build: .
    image: creative-hub/microservice-payments:latest
    ports:
      - "9090:9090"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-payments:5432/creative-hub-payments
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      - db-payments
